@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-sky1: #effaff;
  --color-sky2: #b6ebff;
  --color-sky3: #00bfff;
  --color-sky4: #64b5f6;
  --color-sea: #1976d2;

  --animate-slide1: slide1 1.5s ease-out;
  --animate-slide2: slide2 0.8s ease-out;
  --animate-slide3: slide3 0.8s ease-out;
  --animate-slide4: slide4 0.8s ease-out;
  --animate-cardSpin: cardSpin 0.8s ease-in-out;
  --animate-dropDown: dropDown 0.8s ease-in-out;

  @keyframes slide1 {
    0% {
      transform: translateY(-95%);
    }
    40% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slide2 {
    0% {
      transform: translateY(-100%);
      rotate: z 45deg;
    }
    100% {
      transform: translateY(0%);
      rotate: z 0deg;
    }
  }

  @keyframes slide3 {
    0% {
      transform: translateY(-100%);
    }
    40% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slide4 {
    0% {
      transform: translateY(0%);
    }
    40% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes cardSpin {
    0% {
      transform: translateY(-100%) rotateX(0deg);
      rotate: z 270deg;
    }
    100% {
      transform: translateY(0%) rotateX(20deg);
      rotate: z 0deg;
    }
  }

  @keyframes dropDown {
    0% {
      transform: scale(2);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
}
